Bluemix_Nodered_JSON/final.json
[{"id":"16a2c021.d5451","type":"mqtt in","z":"2c65637d.e8d5cc","name":"smartchairsub","topic":"/smartchair/data","qos":"2","broker":"2a7b74cc.0ee2ac","x":220,"y":168.5,"wires":[["a2bf9ddb.b4dd6","fea42b45.7f4ba8"]]},{"id":"b4cad3b8.993d2","type":"debug","z":"2c65637d.e8d5cc","name":"","active":false,"console":"false","complete":"payload","x":661,"y":136,"wires":[]},{"id":"fea42b45.7f4ba8","type":"function","z":"2c65637d.e8d5cc","name":"smartchaircomputeengine","func":"var json =JSON.parse(msg.payload); \nvar p1 = json.pressure1;\nvar p2 = json.pressure2;\nvar p3 = json.pressure3;\nvar  p4 = json.pressure4;\nvar t = json.temperature; \nvar d2 = json.distance2; \n\nvar newMsg = { topic:\"\",payload:\"\"};\n\n\t\tvar isHarmful = false;\n\t    var suggestion = \"You are doing good Keep it up\";\n\t\tvar position = \"Correct Position\";\n\t\t//System.out.println(\"4\");\n\t\t//if(p1 == 0 && p2 == 0 && p3 == 0  )\n\t\t/* Leaning Back*/\n\t\tif(p1 == 1 && p2 == 0)\n\t\t{\n\t\t\tif(d2 <= 5)\n\t\t\t{\n\t\t\t\tisHarmful = true;\n\t\t\t\tposition = \"You are Leaning Back\";\n\t\t\t\tsuggestion =\"Please straighten your posture\";\n\t\t\t}\n\t\t\telse if(d2 >=10)\n\t\t\t{\n\t\t\t\tisHarmful = true;\n\t\t\t\tposition = \"You are Sitting at the edge\";\n\t\t\t\tsuggestion =\"Please try to your move to your back\";\t\t\t\t\n\t\t\t}\n\t\t}\n\t\t/*Leaning Front*/\n\t\telse if(p1 == 1 && p2 == 1)\n\t\t{\n\t\t\tif(d2 >= 10)\n\t\t\t{\n\t\t\t\tisHarmful = true;\n\t\t\t\tposition = \"You are Leaning Front\";\n\t\t\t\tsuggestion =\"Please straighten your posture\";\n\t\t\t}\n\t\t\telse if(d2<=5)\n\t\t\t{\n\t\t\t\tisHarmful = false;\n\t\t\t\tposition = \"You are with the chair\";\n\t\t\t\tsuggestion =\"This a good posture\";\t\t\t\t\n\t\t\t}\n\t\t}\n\t\tif(p1 == 1 && p2 == 1 && p3 ==1 && p4 == 1 )\n\t\t{\n\t\t\tif(angle >= 0 && angle <= 25)\n\t\t\t{\n\t\t\t\tisHarmful = false;\n\t\t\t\tposition = \"Reclining well\";\n\t\t\t\tsuggestion = \"This is a good posture to relax\";\n\t\t\t}\t\t\n\t\t\tif(angle > 25)\n\t\t\t{\n\t\t\t\tisHarmful = true;\n\t\t\t\tposition = \"Reclining too much\";\n\t\t\t\tsuggestion = \"Please go back to normal postion\";\n\t\t\t}\n\t\t}\n\t\tvar sHarmful = \"false\";\n\t\tif(isHarmful==true)\n\t\t    sHarmful = \"true\";\n\t\t//System.out.println(\"5\");\n        var newMsg = { \"topic\":\"/smartchair/alert\",\"payload\":\n            {\n                \"isHarmful\" : sHarmful,\n                \"position\" : position,\n                \"suggestion\": suggestion\n            },\n            \"isHarmful\" : sHarmful,\n            \"position\" : position,\n            \"suggestion\": suggestion\n        };\n\t/*\t\n\t  String isHarmfulString  = isHarmful?\"True\":\"False\"; \n\t String json = \"{\";\n\t\tjson += \"\\\"isharmful\\\" :\\\"\";\n\t\tjson += isHarmfulString +\"\\\"\";\n\t\tjson += \"\\\"position\\\" :\\\"\";\n\t\tjson += position +\"\\\"\";\n\t\tjson += \"\\\"suggestion\\\" :\\\"\";\n\t\tjson += suggestion +\"\\\"\";\n\t\tjson += \"}\";\n\t\t*/\t\t\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":499,"y":228.5,"wires":[["b4cad3b8.993d2","a75dc756.caea58"]]},{"id":"a75dc756.caea58","type":"switch","z":"2c65637d.e8d5cc","name":"","property":"isHarmful","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":361,"y":309.5,"wires":[["6eee4c57.f64304","1b1c0b2b.bff1a5"],["65c851fd.b4037","fb1718ad.c35b28"]]},{"id":"1b1c0b2b.bff1a5","type":"twilio out","z":"2c65637d.e8d5cc","service":"_ext_","twilio":"eab5d9d5.675af8","from":"","number":"4086181054","name":"Smart-Chair","x":815,"y":287,"wires":[]},{"id":"65c851fd.b4037","type":"debug","z":"2c65637d.e8d5cc","name":"","active":false,"console":"false","complete":"false","x":779,"y":207,"wires":[]},{"id":"fb1718ad.c35b28","type":"debug","z":"2c65637d.e8d5cc","name":"","active":true,"console":"false","complete":"false","x":761,"y":405,"wires":[]},{"id":"6eee4c57.f64304","type":"mqtt out","z":"2c65637d.e8d5cc","name":"mqttpub","topic":"/smartchair/alert","qos":"","retain":"","broker":"2a7b74cc.0ee2ac","x":790,"y":346,"wires":[]},{"id":"a2bf9ddb.b4dd6","type":"debug","z":"2c65637d.e8d5cc","name":"","active":false,"console":"false","complete":"false","x":386.5,"y":95,"wires":[]},{"id":"99e9e8b7.080e78","type":"mqtt out","z":"2c65637d.e8d5cc","name":"mqttpub","topic":"/smartchair/alert","qos":"","retain":"","broker":"2a7b74cc.0ee2ac","x":594,"y":416,"wires":[]},{"id":"2a7b74cc.0ee2ac","type":"mqtt-broker","z":"2c65637d.e8d5cc","broker":"54.218.1.206","port":"2880","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"eab5d9d5.675af8","type":"twilio-api","z":"2c65637d.e8d5cc","sid":"AC39dc9c36f003d0f6b15f0bd088d9fd10","from":"5043837119","name":"Smart-Chair"}]